@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import "tailwindcss";

:root {
  --primary: #7209b7;
  --primary50: #7209b780;

  --black: #353535;
  --black75: #676767;
  --black50: #9b9b9b;
  --black25: #cdcdcd;

  --white: #ffffff;
  --white98: #fafafa;
  --white97: #f7f7f8;

  --red: #cf0000;
  --blue: #0055ff;
  --green: #00da16;

  --invisible: #00000000;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-button {
    font-family: "Poppins", sans-serif;
    @apply font-semibold text-[0.9375rem] text-white leading-[1.40625rem] tracking-[0.03125rem];
  }

  .text-display {
    font-family: "Poppins", sans-serif;
    @apply font-bold text-[2rem] leading-12;
  }

  .text-body-bold {
    font-family: "Poppins", sans-serif;
    @apply font-bold text-lg leading-[1.6875rem];
  }

  .text-body-medium {
    font-family: "Poppins", sans-serif;
    @apply font-medium text-lg leading-[1.6875rem];
  }
}

html {
  font-size: 16px;
}

@media screen and ((max-height: 920px) or (max-width: 1600px)) {
  html {
    font-size: 14px;
  }
}

@media screen and ((max-width: 1366px)) {
  html {
    font-size: 13px;
  }
}

@media screen and ((max-height: 850px) or (max-width: 1280px)) {
  html {
    font-size: 12px;
  }
}

@media screen and ((max-height: 732px) or (max-width: 1180px)) {
  html {
    font-size: 10.5px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
